doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    header
      h1 Elwood City Library

    block content
